[Unit]
Description=goanagram

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/opt/go-anagram-solver/go-anagram-solver/main
WorkingDirectory=/opt/go-anagram-solver/go-anagram-solver

[Install]
WantedBy=multi-user.target